.head{
    background-color:rgb(252, 249, 249) ;
    height: 100px;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
nav{
    background-color:0;
    float:right ;
    margin-top: 10px;
    margin-left: 10px;
    
}

ul{
    background-color:0;
    
}
li{
    background-color: 0;
    margin-top: 50px;
    display: inline;

}
a{
    color: rgb(7, 7, 7);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration:none;
    margin-right: 100px;

}

fieldset{

    margin-left: auto;
    margin-right: 90px;
    width:  40%;
    background-color: rgb(28, 14, 80);
    border: 0;
    height: 300px;
    margin-top: 40px;

}
.legend{

    color: rgb(105, 206, 236);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center ;
    

}
.main{
    background-image: url('imagenes/papel-cuadros-grandes-gris-claro.jpg'); 
    height: 1000px;
    
    
}  

[type="text"]{

    display: block;
    width: 60%;
    height: 25px;
    margin: auto;
    margin-top: 5px;
    background: transparent;
    border: 0;
    border-bottom:1px solid floralwhite;

}
[type="number"]{

    display: block;
    width: 60%;
    height: 25px;
    margin: auto;
    background: transparent;
    border: 0;
    border-bottom:1px solid floralwhite;

}
[type="email"]{

    display: block;
    width: 60%;
    height: 25px;
    margin: auto;
    background: transparent;
    border: 0;
    border-bottom:1px solid floralwhite;

}
[type="submit"]{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 40px;
    border-radius: 10px;
    border: 0;

}
.pais{

    margin-top: 5px;

}

label{

    margin: auto;
    color: floralwhite;

}
[type="radio"]{

    color: floralwhite;

}
.contradio{

    background-color: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 5px;

}


